<?xml version="1.0" encoding="UTF-8"?>
<robot name="m0609">
  <joint name="shoulder_pan_joint" type="revolute">
    <origin xyz="0. 0. 0.1273" rpy="0. 0. -3.1415925"/>
    <parent link="base_link"/>
    <child link="joint_1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="330." velocity="2.0943951"/>
  </joint>
  <joint name="shoulder_lift_joint" type="revolute">
    <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
    <parent link="joint_1"/>
    <child link="joint_2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="330." velocity="2.0943951"/>
  </joint>
  <joint name="elbow_joint" type="revolute">
    <origin xyz="-0.612 0. 0. " rpy="0. 0. 0."/>
    <parent link="joint_2"/>
    <child link="joint_3"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.1415927" upper="3.1415927" effort="150." velocity="3.1415927"/>
  </joint>
  <joint name="wrist_1_joint" type="revolute">
    <origin xyz="-0.5723 0. 0.163941" rpy="0. 0. 0."/>
    <parent link="joint_3"/>
    <child link="joint_4"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="56." velocity="3.1415927"/>
  </joint>
  <joint name="wrist_2_joint" type="revolute">
    <origin xyz="0. -0.1157 0. " rpy="1.5707964 0. 0. "/>
    <parent link="joint_4"/>
    <child link="joint_5"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="56." velocity="3.1415927"/>
  </joint>
  <joint name="wrist_3_joint" type="revolute">
    <origin xyz="0. 0.0922 -0. " rpy="-1.5707964 -0.0000001 0.0000001"/>
    <parent link="joint_5"/>
    <child link="joint_6"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="56." velocity="3.1415927"/>
  </joint>
  <joint name="ee_joint" type="fixed">
    <origin xyz="-0. -0. -0." rpy="3.1415926 -1.57079638 0."/>
    <parent link="joint_6"/>
    <child link="ee_link"/>
  </joint>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
  </joint>

  <link name="world"/>
  
  <link name="base_link">   
  </link>
  <link name="joint_3">   
  </link>
  <link name="joint_1">   
  </link>
  <link name="joint_2">   
  </link>
  <link name="joint_4">   
  </link>
  <link name="joint_5">  
  </link>
  <link name="joint_6">   
  </link>
  <link name="finger_width">    
  </link>
</robot>